ENV=DEV
PORT=9999

DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=depot

SENTINEL_URL=https://sso.gauchoracing.com
SENTINEL_CLIENT_ID=
SENTINEL_CLIENT_SECRET=
SENTINEL_REDIRECT_URI=http://localhost:10310/auth/login

STORAGE_BACKEND=s3

S3_BUCKET=gr-depot-dev
S3_REGION=us-west-2
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=

PRESIGN_EXPIRY=15m
MAX_PROXY_UPLOAD_BYTES=104857600
